<button mat-raised-button color="primary" [matMenuTriggerFor]="mainMenu">
  Main Menu
</button>

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <img width="300" src="assets\Rosetta.jpg">
</div>

<div style="text-align:center">
  <br><br>
  <button mat-raised-button color="primary" (click)="FunctionClick()">Get Functions!</button>
  <br><br>
  <button mat-raised-button color="primary" (click)="RosettaClick()">Run Rosetta!</button>
</div>

<h2>Function List</h2>
<mat-list>
  <mat-list-item *ngFor="let function of rosettaFunctionList">
    <h4 mat-line>{{function.name}}</h4>
    <mat-list-item *ngFor="let constructor of function.constructors">
      <mat-list-item *ngFor="let parameter of constructor.parameters">
        <h4 mat-line >Parameter Name: {{parameter.name}}</h4>
        <h4 mat-line >Parameter Type: {{parameter.type}}</h4>
      </mat-list-item>
    </mat-list-item>
  </mat-list-item>
</mat-list>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item> Distance Functions </button>
  <button mat-menu-item> Encorder </button>
  <button mat-menu-item> Standardizer </button>
</mat-menu>
