<mat-toolbar color="primary" class="rosetta-header">
  Home
</mat-toolbar>

<div style="text-align:center" >
  <mat-toolbar class="mat-expansion-panel-title">
    My Projects
  </mat-toolbar>
</div>
<div >
  <mat-expansion-panel *ngFor="let project of rosettaProjectList">
      <mat-expansion-panel-header class="mat-expansion-panel-header">
        <mat-icon mat-list-icon class="folder">folder</mat-icon>
        <mat-panel-title class="project-title">
          {{project}}
        </mat-panel-title>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="panel-menu">
            <mat-icon>more_vert</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>
               <span>Share</span>
              </button>
              <button mat-menu-item>
                <span>Rename</span>
              </button>
              <button mat-menu-item disabled>
                <span>Delete</span>
              </button>
            </mat-menu>
        </mat-expansion-panel-header>

      <button mat-button routerLink="../progress-bar" class="goto-progress-bar-button">Progress Bar</button>

  </mat-expansion-panel>


</div>
<div class = "folder">
  <mat-form-field>
    <input matInput placeholder="Project" #projectName [(ngModel)]="addProject"/>
  </mat-form-field>

  <button mat-button (click)="AddProject(addProject)">
      Add
  </button>

</div>



<div style="text-align:center">
  <br><br>
  <button mat-raised-button color="primary" (click)="FunctionClick()">Get Functions!</button>
  <br><br>
  <button mat-raised-button color="primary" (click)="RosettaClick()">Run Rosetta!</button>
</div>

<h2>Function List</h2>
<mat-list>
  <mat-list-item *ngFor="let function of rosettaFunctionList">
    <h4 mat-line>{{function.name}}</h4>
    <mat-list-item *ngFor="let constructor of function.constructors">
      <mat-list-item *ngFor="let parameter of constructor.parameters">
        <h4 mat-line >Parameter Name: {{parameter.name}}</h4>
        <h4 mat-line >Parameter Type: {{parameter.type}}</h4>
      </mat-list-item>
    </mat-list-item>
  </mat-list-item>
</mat-list>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item> Distance Functions </button>
  <button mat-menu-item> Encorder </button>
  <button mat-menu-item> Standardizer </button>
</mat-menu>

<h2>{{ person.name | async}}</h2>
<h2>{{ person.company | async }}</h2>
<h2>test</h2>
