<mat-toolbar color="primary" >
  Home
  <span class="rosetta-header">
      <mat-grid-list col="7" rowHeight="2:1" >
        <button mat-button routerLink="../project">Project</button>
        <button mat-button routerLink="../data-sources">Data Sources</button>
        <button mat-button>Column Mapping</button>
        <button mat-button>Standardization</button>
        <button mat-button>Blocking</button>
        <button mat-button>Matching</button>
        <button mat-button>Execution</button>
      </mat-grid-list>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>





