<mat-expansion-panel style="margin-top: 50px">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Integer
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-distance-function></app-distance-function>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Gender
    </mat-panel-title>
  </mat-expansion-panel-header>
  Surprise!
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Postal Code
    </mat-panel-title>
  </mat-expansion-panel-header>
  Surprise!
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Email
    </mat-panel-title>
  </mat-expansion-panel-header>
  Surprise!
</mat-expansion-panel>
