<mat-toolbar color="primary" class="rosetta-header">
  <span>
    <mat-grid-list col="4" rowHeight="2:1" class="indent">
      <button mat-button>ID DICTIONARY</button>
      <button mat-button>BLOCKING</button>
      <button mat-button>SYNONYM DB</button>
      <button mat-button>TYPES</button>
    </mat-grid-list>
  </span>
</mat-toolbar>

<mat-expansion-panel style="margin-top: 50px">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{integer}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="integer">
  </mat-form-field>
<div>
  <mat-form-field>
      <mat-select [(ngModel)]="functionChosen" placeholder="Method" label = "name">
        <mat-option *ngFor="let function of rosettaFunctionList" [value]="function" >
            {{function.name}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="Expression" [(ngModel)]="expression"/>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <button mat-button *ngIf="expression" matSuffix mat-icon-button aria-label="Clear" (click)="expression=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
</div>
  <app-distance-function [functionChosen]="functionChosen"></app-distance-function>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Gender
    </mat-panel-title>
  </mat-expansion-panel-header>
  Surprise!
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Postal Code
    </mat-panel-title>
  </mat-expansion-panel-header>
  Surprise!
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Email
    </mat-panel-title>
  </mat-expansion-panel-header>
  Surprise!
</mat-expansion-panel>

<button mat-raised-button color="primary" (click)="NgrxTest()">Ngrx Test!</button>

<!--<h2 *ngIf="value$ | async; let value">{{value.name}}</h2>-->
