<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="assets\Rosetta.jpg">
</div>
<section class="section">
  The proximity between {{stringA}} and {{stringB}} is: {{testObject}}!
</section>
<button mat-fab color="primary" (click)="onClick(stringA, stringB)">Run</button>

<section class="section">
  <input [(ngModel)]="stringA" matInput placeholder="First Word">
</section>
<section class="section">
    <input [(ngModel)]="stringB" matInput placeholder="Second Word">
</section>

<section class="section">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item> Settings </button>
    <button mat-menu-item> Help </button>
  </mat-menu>
