<mat-sidenav-container fullscreen>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <mat-sidenav #sidenav mode="over">
    <div class="top-indent">
      <div class="sidenav-content" routerLink="home">Home</div>
      <div class="sidenav-content" routerLink="settings">Settings</div>
    </div>
  </mat-sidenav>

  <mat-toolbar color="primary" class="rosetta-header">Rosetta Configurator</mat-toolbar>

  <button mat-button class="top-left" (click)="sidenav.toggle()">
    <mat-icon>whatshot</mat-icon>
  </button>

  <router-outlet></router-outlet>

</mat-sidenav-container>

