<mat-tab-group class="toolbar">
  <mat-tab label="Project">
    <div>
        <app-project></app-project>
    </div>
  </mat-tab>
  <mat-tab label="Data Sources">
    <div>
      <app-data-sources></app-data-sources>
    </div>
  </mat-tab>
  <mat-tab label="Column Mapping">
    <div>
      <app-column-mapping></app-column-mapping>
    </div>
  </mat-tab>
  <mat-tab label="Standardization">
    <div>
      <app-standardization></app-standardization>
    </div>
  </mat-tab>
  <mat-tab label="Blocking">
    <div>
      <app-blocking></app-blocking>
    </div>
  </mat-tab>
  <mat-tab label="Matching">
    <div>
      <app-matching></app-matching>
    </div>
  </mat-tab>
  <mat-tab label="Execution">
    <div>
      <app-execution></app-execution>
    </div>
  </mat-tab>

</mat-tab-group>

<router-outlet></router-outlet>





