
<div class="background">
    <mat-card style="padding-bottom: 40px;">
        <div class="center">
            <mat-form-field>
                <input matInput placeholder="Project Name" value="">
            </mat-form-field>
            
        </div>
        <div class="center">
            <mat-form-field>
                <input matInput placeholder="Description" value="">
                <mat-hint align="start"><strong>Tell more about your project</strong> </mat-hint>
            </mat-form-field>
        </div>
        <div class="center">
            <button mat-button class="backButton" routerLink="../home">Back</button>
        </div>

    </mat-card>
</div>